{% extends 'base.twig' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="max-height:100px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <a class="row justify-content-center" href="/admin/edit">
                    <button class="col-md-7 col-lg-7 col-xl-7 btn btn-primary rounded">Nouveau Post</button>
                </a>

                <hr class="my-4" />

                {% for post in posts %}
                        <div class="post-preview text-center">
                            <a href="/post/{{post.id}}">
                                <h2 class="post-title" style="margin-top:0;">{{post.title}}</h2>
                            </a>
                            <p class="post-meta">
                                Par <a href="#0">{{post.author}}</a> le {{post.createdAt}}
                            </p>
                            

                            {# WAITING FOR APPROVAL COMMENTS COUNT #}
                            {% set waitingCount = 0 %}
                            {% for com in post.comments %}
                                {% if com.status is same as('waiting_approval') %}
                                    {% set waitingCount = waitingCount + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if waitingCount > 0 %}

                                <div class="border border-secondary rounded alert alert-warning">
                                    <a href="/post/{{post.id}}">
                                        Commentaires en attente : <strong>{{ waitingCount }}</strong>
                                    </a>
                                </div>
                            {% else %}
                                <div class="border border-success rounded alert alert-success">
                                    Aucun commentaire en attente
                                </div>
                            {% endif %}
                            
                        </div>

                        <div class="form-buttons">
                            <form action="/admin/edit" method="post">
                                <input type="hidden" name="postId" value="{{post.Id}}" />
                                <input class="btn btn-info rounded" type="submit" value="Éditer" />
                            </form>

                            <a class="" href="/post/{{post.Id}}">
                                <button class="btn btn-primary rounded">Voir</button>
                            </a>

                            <form action="/admin/delete" method="post">
                                <input type="hidden" name="postId" value="{{post.Id}}" />
                                <input class="btn btn-danger rounded" type="submit" value="Supprimer" 
                                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer : \n{{ post.title }}?');"/>
                            </form>
                        </div>
                        
                    <hr class="my-4" />
                {% endfor %}
                
            </div>
        </div>
    </div>
</main>
{% endblock %}
