{% extends 'base.twig' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/admin.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col col-md-10 col-lg-8 col-xl-7">

                <div class="text-center">
                    <a href="/admin">
                        <button class="btn btn-primary rounded">Retourner au panel</button>
                    </a>
                </div>

                <hr class="my-4" />

                {% for user in users %}

                    {% set banned = user.status is same as('banned') %}
                    
                    {# User display div #}
                    {% set pText = banned ? 'Banni' : 'Visiteur' %}
                    <div class="user-row">
                        <p>
                            {{ user.name }}<small class="text-muted">({{user.email}})</small>
                            <span class="status"> - {{pText}}</span>
                        </p>
                        
                        {# Ban / Unban button #}
                        {% set btnClass = banned ? 'btn-success' : 'btn-danger' %}
                        {% set btnText = banned ? 'Débannir' : 'Bannir' %}
                        {% set statusValue = banned ? 'visitor' : 'banned' %}
                        <form action="/admin/userstatus" method='post'>
                            <input type="hidden" name="userName" value="{{user.name}}" />
                            <input type="hidden" name="userStatus" value="{{statusValue}}" />
                            <input type="submit" class="btn rounded {{btnClass}}" value={{btnText}} 
                                onclick="return confirm('Êtes-vous sûr de vouloir [{{btnText}}] {{user.name}} ?');"/>
                        </form>
                    </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
</main>
{% endblock %}
