{% extends 'base.twig' %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/login.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        {{title}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">

{# User is already connected #}
{% if session_username %}

    {# Errors can happen here if user clicked again on his registration link #}
    {% if error_messages %}

        <div class="row justify-content-center">
        {% for errMsg in error_messages %}
            <div class="col-md-7 col-lg-7 col-xl-7 alert alert-danger text-center">
                {{ errMsg|raw }}
            </div>
        {% endfor %}
        </div> 

    {% endif %}

    <a class="row justify-content-center" href="/logout">
        <button class="col-md-7 col-lg-7 col-xl-7 btn btn-danger">Se déconnecter</button>
    </a>
    
{# We sent a signup mail to the user #}
{% elseif mail_sent %}

    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-7 col-xl-7 alert alert-primary text-center">
            <p> 
                {{ name }}, un mail vous a été envoyé sur l'adresse : {{ email }}<br/>
                Veuillez cliquer sur le lien contenu dans ce mail pour valider votre inscription.
            </p>
            <a class="row justify-content-center" href="/">
                <button class="col-md-7 col-lg-7 col-xl-7 btn btn-info">Retour à l'accueil</button>
            </a>
        </div>
    </div> 

{# Default login & signup page forms #}
{% else %}

    {# User clicked a valid signup link in their email #}
    {% if signup_success %}

        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-7 col-xl-7 alert alert-success text-center">
                Votre compte a bien été créé !<br/>
                Vous pouvez dès à présent vous connecter avec vos identifiants.
            </div>
        </div> 

    {# There was any error while trying to log-in or sign-up #}
    {% elseif error_messages %}

        <div class="row justify-content-center">
        {% for errMsg in error_messages %}
            <div class="col-md-7 col-lg-7 col-xl-7 alert alert-danger text-center">
                {{ errMsg|raw }}
            </div>
        {% endfor %}
        </div> 

    {% endif %}

        {# - - - Login Form - - - #}
        <div class="col-md-5 col-lg-4 col-xl-3">
        <form id="loginForm" action="/login" method="post" data-sb-form-api-token="">
            <div class="form-floating">
                <input class="form-control" id="email" name="email" type="email" placeholder="Votre email" data-sb-validations="required,email" />
                <label for="email">Email</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">Veuillez renseigner votre email.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Le format de l'email est invalide.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password" name="password" placeholder="Votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password:required">Veuillez renseigner votre mot de passe.</div>
            </div>

            <br />
            <div class="d-none" id="submitSuccessMessage"></div>
            <div class="d-none" id="submitErrorMessage"></div>
            <button class="d-none" id="submitButton" type="submit"></button>
            <input type="submit" class="btn btn-primary text-uppercase" value='Se connecter'>
        </form>
        </div>

        {# - - - Sign-up Form - - - #}
        <div class="col-md-5 col-lg-4 col-xl-3">
        <form id="signupForm" action="/signup" method="post" data-sb-form-api-token="">
            <div class="form-floating">
                <input class="form-control" id="name-signup" name="name" placeholder="Votre pseudo" data-sb-validations="required" />
                <label for="name">Pseudonyme</label>
                <div class="invalid-feedback" data-sb-feedback="name-signup:required">Veuillez renseigner votre pseudonyme.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="email-signup" name="email" type="email" placeholder="Votre email" data-sb-validations="required,email" />
                <label for="email">Email</label>
                <div class="invalid-feedback" data-sb-feedback="email-signup:required">Veuillez renseigner votre email.</div>
                <div class="invalid-feedback" data-sb-feedback="email-signup:email">Le format de l'email est invalide.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password-signup" name="password" placeholder="Votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password-signup:required">Veuillez renseigner votre mot de passe.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password-signup-2" name="password-2" placeholder="Vérifiez votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Vérifiez mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password-signup-2:required">Veuillez réécrire votre mot de passe.</div>
            </div>

            <br />
            <div class="d-none" id="submitSuccessMessage"></div>
            <div class="d-none" id="submitErrorMessage"></div>
            <button class="d-none" id="submitButton" type="submit"></button>
            <input type="submit" class="btn btn-primary text-uppercase" value="Créer un compte">
        </form>
        </div>

        </div>
    </div>
    <script src="/js/sb-forms.min.js"></script>
{% endif %}

</div>
</div>
</main>

{% endblock %}
