{% extends 'base.twig' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/postslist.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        {{ title }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/post/{{post.id}}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.head}}</h3>
                        </a>
                        <p class="post-meta">
                            Par <a href="#0">{{post.author}}</a> le {{post.createdAt|format_datetime('medium', 'short', locale='fr')}}
                            {% if post.modifiedAt %}
                                &nbsp;<small>- Modifié le {{post.modifiedAt|format_datetime('medium', 'short', locale='fr')}}</small>
                            {% endif %}
                        </p>
                        
                        <hr class="my-4" />
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</main>
{% endblock %}
